.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description,
.grid {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
  background-color: #99cc99;
  position: relative;
}

.card {
  margin: 1rem;
  padding: 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.1rem solid white;
  line-height: 1.25rem;
  color: white;
  min-width: 60%;
  max-width: 90%;
  position: relative;
}

.left {
  text-align: left;
  background-color: #262d31;
  align-self: flex-start;
}

.right {
  text-align: right;
  background-color: #056162;
  align-self: flex-end;
}


.first {
  margin-bottom: 0.25rem;
}

.notFirst {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.card:hover,
.card:focus,
.card:active {
  font-weight: 700;
}

.card .author, .card .time {    
  font-weight: 100;
  position: absolute;
  font-size: 0.9rem;
}

.card .author {    
  top: 0.5rem;
}

.card .time {    
  bottom: 0.5rem;
}

.card.left .author, .card.left .time {    
  right: 0.5rem;
}

.card.right .author, .card.right .time {    
  left: 0.5rem;
}

.card .text {
  font-weight: 400;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
